.num-ways {
  border-radius: 50%;
  background-color: #0d91e0;
  font-size: 18px;
  text-align: center;
  color: white;
  width: 31px;
  margin-right: 10px;
  float: left;
  height: 31px;
  padding: 3px 3px 1px 3px;
}

.footer-logo {
    margin-top: 0;
}


.carousel .wrapper {
    position: relative;
    min-width: 100%;
}

.logo-options .col1 .first {
    margin: 15px 0 15px -271px;
}

.content .main .adaptiveimage figure img {
    width: auto;
}

.page-header-generic {
    display: none;
}

.columncontrol {
    margin-left: 36px;
    margin-right: 50px;
}

.nav-image .adaptiveimage figure img {
  float: left;
  margin-left: -36px;
  margin-top: 86px;
  margin-bottom: 10px;
}

.start-nav-image .adaptiveimage figure img, .end-nav-image .adaptiveimage figure img{
  float: left;
  margin-left: -36px;
  margin-top: 86px;
  margin-bottom: 10px
}

.end-nav-image .adaptiveimage figure img, .stay-well .adaptiveimage figure img{
  margin-left: -36px;
}

.column-control-column {
    font-family: "Arial", sans-serif;
}

.content-subtitle {
    font-size: 16px;
}

.content-description {
    font-size: 14px;
}

.column-control-column .text, .nav-image .title {
  margin-top: 20px;
  margin-bottom: 298px;
  display: block;
}

.columncontrol .column-control-column .text{
  margin-bottom: 100px;
}

.columncontrol .teasertile {
    margin-bottom: 166px;
}

.nav-image .calltoaction .tysabri-cta {
    display: inline-block;
    color: #f0a055;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    width: 247px;
    height: 40px;
    border: none;
    -webkit-box-shadow: none;
    /*box-shadow: 0 0 1em grey;
    -webkit-box-shadow: 0 0 1em grey;
    -moz-box-shadow: 0 0 1em gray;
    box-shadow: none;
    -webkit-box-shadow: none;*/

}

.nav-image .calltoaction .tysabri-promo-container {
    padding-left: 0;
    padding-right: 10px;
    height: -14px;
    width: 20%;
    margin-right: 410px;
    margin-top: -73px;
}

.nav-image .calltoaction .last {
    float: right;
}

/*
#cta-type-3 {
  margin-left: -34px;
}*/

.content-subtitle{
  color: #0088cf;
  font-weight: 500;
}

.media .media-body {
  text-align: justify;
  display: inline;
}

.generic-page .columncontrol {
    margin-left: 70px;
    margin-right: 50px;
}

.columncontrol .column-control-column .columncontrol {
    margin-left: 3px;
    margin-top: 20px;
    margin-right: 50px;
}

.title {
    margin-top: 20px;
}

.template_genericfullwidth header {
  position: relative;
  z-index: 0;
}

.fact-sheet-image .section img.talent {
    margin-left: auto;
    margin-right: auto;
}

.fact-sheet .desktop-image {
  display: block;
  margin-top: -208px;
  z-index: 1;
}

.fact-sheet .default{
  margin-top: -176px;
}

footer .disclaimer-text, .logo-options .col1 .first img {
  display: block;
}

.teasertile .media-heading {
    margin-bottom: -17px;
}

.template_genericfullwidth .footer-logo {
    margin-top: 30px;
}

p.content-subtitle {
    font-size: 15px;
}

p.content-description {
  font-size: 14px;
}

@media only screen and (min-width: 2050px) {
  .nav-image .calltoaction .tysabri-promo-container{
    margin-right: 501px;
  }

  .fact-sheet .mobile-image {
    display: none;
  }

  .start-nav-image .adaptiveimage figure img, .end-nav-image .adaptiveimage figure img {
      float: left;
      margin-left: -70px;
      margin-top: 306px;
      margin-bottom: 10px;
  }

  .end-nav-image .adaptiveimage figure img, .stay-well .adaptiveimage figure img{
    margin-left: -36px;
  }
}

@media only screen and (max-width: 2049px) and (min-width: 1949px) {
  .nav-image .calltoaction .tysabri-promo-container{
    margin-right: 420px;
  }

  .fact-sheet .mobile-image {
    display: none;
  }

  .start-nav-image .adaptiveimage figure img, .end-nav-image .adaptiveimage figure img {
      float: left;
      margin-left: -70px;
      margin-top: 306px;
      margin-bottom: 10px;
  }

  .end-nav-image .adaptiveimage figure img, .stay-well .adaptiveimage figure img{
    margin-left: -36px;
  }
}

@media only screen and (max-width: 1948px) and (min-width: 1759px) {
  .nav-image .calltoaction .tysabri-promo-container{
    margin-right: 322px;
  }

  .fact-sheet .mobile-image {
    display: none;
  }

  .columncontrol .column-control-column .text{
    margin-bottom: 20px;
  }

  .columncontrol .teasertile {
      margin-bottom: 20px;
  }

  .start-nav-image .adaptiveimage figure img, .end-nav-image .adaptiveimage figure img {
      float: left;
      margin-left: -70px;
      margin-top: 306px;
      margin-bottom: 10px;
  }

  .end-nav-image .adaptiveimage figure img, .stay-well .adaptiveimage figure img{
    margin-left: -36px;
  }
}


@media only screen and (max-width: 1758px) and (min-width: 1495px) {
  .content-subtitle {
      font-size: 14px;
  }

  .content-description {
    font-size: 13px;
  }

  .columncontrol .column-control-column .text{
    margin-bottom: 10px;
  }

  .columncontrol .teasertile {
      margin-bottom: 10px;
  }

  .template_genericfullwidth header {
    position: relative;
    z-index: 0;
  }

  .logo-options .col1 .first {
    margin: 15px 0 15px -218px;
  }

  .nav-image .adaptiveimage figure img {
    margin-left: -36px;
    margin-top: 50px;
    margin-bottom: 10px;
  }

  .nav-image .calltoaction .tysabri-promo-container {
    margin-right: 160px;
  }

  .fact-sheet .mobile-image {
    display: none;
  }

  .start-nav-image .adaptiveimage figure img, .end-nav-image .adaptiveimage figure img {
      float: left;
      margin-left: -70px;
      margin-top: 306px;
      margin-bottom: 10px;
  }

  .end-nav-image .adaptiveimage figure img, .stay-well .adaptiveimage figure img{
    margin-left: -36px;
  }
}


@media only screen and (max-width: 1494px) and (min-width: 1161px) {
  .columncontrol .column-control-column .text{
    margin-bottom: 10px;
  }

  .columncontrol .teasertile {
      margin-bottom: 10px;
  }

  .template_genericfullwidth header {
    position: relative;
    z-index: 0;
  }

  .logo-options .col1 .first {
    margin: 15px 0 15px -29px;
  }

  .nav-image .calltoaction .tysabri-promo-container {
    margin-right: 140px;
  }

  .nav-image .adaptiveimage figure img {
    float: left;
    margin-left: -36px;
    margin-top: 54px;
    margin-bottom: 10px;
  }

  .start-nav-image .adaptiveimage figure img, .end-nav-image .adaptiveimage figure img {
      float: left;
      margin-left: -70px;
      margin-top: 306px;
      margin-bottom: 10px;
  }

  .end-nav-image .adaptiveimage figure img, .stay-well .adaptiveimage figure img{
    margin-left: -36px;
  }

  .stay-well .adaptiveimage figure img {
    margin-top: 125px;
  }

  .fact-sheet .mobile-image {
    display: none;
  }

  .fact-sheet .desktop-image {
    display: block;
    margin-top: -170px;
    z-index: 1;
  }

}

@media only screen and (max-width: 1160px) and (min-width: 768px){
  .template_genericfullwidth header {
    position: relative;
    z-index: 0;
  }

  .logo-options .col1 .first {
      margin: 15px 0 15px 15px;
  }

  .nav-image .calltoaction .tysabri-cta {
    margin-top: 30px;
    height: 30px;
  }

  .nav-image .calltoaction .tysabri-promo-container {
    margin-right: 150px;
  }

  .fact-sheet .desktop-image {
    display: block;
    z-index: 1;
    margin-top: -160px;
  }

  .fact-sheet .mobile-image {
    display: none;
  }

  .nav-image .adaptiveimage figure img {
    margin-top: -42px;
  }

  .columncontrol .column-control-column .text{
    margin-bottom: 40px;
  }

  .columncontrol .teasertile {
      margin-bottom: 10px;
  }

  .nav-image .adaptiveimage figure img {
    float: left;
    margin-left: -36px;
    margin-top: 54px;
    margin-bottom: 10px;
  }

  .start-nav-image .adaptiveimage figure img, .end-nav-image .adaptiveimage figure img, .stay-well .adaptiveimage figure img  {
      float: left;
      margin-left: -70px;
      margin-top: 74px;
      margin-bottom: 10px;
  }

  .end-nav-image .adaptiveimage figure img, .stay-well .adaptiveimage figure img{
    margin-left: -36px;
  }

}

@media only screen and (max-width: 1160px) and (min-width: 1010px) and (orientation: landscape) {

  .fact-sheet-image .adaptiveimage {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -15px;
  }

  .fact-sheet-image .section .talent {
    max-width: none;
  }

}

@media only screen and (max-width: 1009px) and (min-width: 769px){
  .columncontrol .column-control-column .columncontrol .col-md-4 {
      width: 100%;
      text-align: justify;
  }

  fact-sheet-image .section img.talent {
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 1160px) and (min-width: 768px) and (orientation: portrait) {
  .fact-sheet img {
    height: auto;
    max-width: none;
    width: auto;
  }

  .fact-sheet-image .section .talent {
      margin-left: -40px;
  }

  .nav-image {
    margin-top: 60px;
  }

}


@media only screen and (max-width: 767px) and (min-width: 414px) {
  .fact-sheet .mobile-image {
    display: block;
  }

  .fact-sheet .desktop-image {
    display: none;
  }

  .content .main .adaptiveimage figure img {
    width: auto;
  }

  .teasertile .media .media-body p {
    font-size: 14px;
  }

  .hidden-xs {
    display: block !important;
  }

  .fact-sheet-image .adaptiveimage {
    margin-bottom: -15px;
  }

  .template_genericfullwidth header {
    position: relative;
    z-index: 1;
  }

  .fact-sheet-image .adaptiveimage figure img {
      margin-top: -128px;
      z-index: 0;
  }

  .generic-page .columncontrol {
      margin-left: 15px;
      margin-right: 20px;
  }

  .content-title {
      font-size: 13px;
  }

  .logo-options .col1 .first {
      margin: 15px 0 15px 15px;
  }

  .columncontrol .column-control-column .text {
    margin-bottom: 0;
    font-size: 12px;
  }

  .content-description {
    font-size: 13px;
  }

  .nav-image .calltoaction .tysabri-promo-container {
    margin-right: -8px;
    margin-top: -65px;
  }

  .columncontrol .column-control-column .columncontrol {
    margin: 0;
    margin-top: 20px;
    font-size: 12px;
  }

  .template_genericfullwidth .footer-logo {
      margin-top: 0;
  }

  .columncontrol .teasertile {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 767px) and (min-width: 414px) and (orientation: portrait){
  .nav-image .calltoaction .tysabri-cta {
      margin-top: 10px;
      height: 50px;
      width: 130px;
  }
  .nav-image .adaptiveimage figure img {
    margin-left: 0;
  }
}

@media only screen and (max-width: 767px) and (min-width: 414px) and (orientation: landscape){
  .nav-image .calltoaction .tysabri-cta {
    margin-top: 0;
    height: 62px;
    width: 170px;
  }

  .nav-image .adaptiveimage figure img {
    margin-left: -4px;
    margin-top: 0;
  }
}



@media only screen and (max-width: 413px) {
  .start-nav-image .adaptiveimage figure img {
    margin-top: -56px;
  }

  .logo-options .col1 .first {
    margin: 15px 0 15px 40px;
  }

  .logo-options .first img {
      max-width: none;
      width: 330px;
  }

  .fact-sheet .mobile-image {
      display: block;
      /*margin-top: -98px;*/
  }

  .fact-sheet .desktop-image {
    display: none;
  }

  .template_genericfullwidth header {
    position: relative;
    z-index: 1;
  }

  .teasertile .media-heading {
    margin-bottom: -15px;
  }

  .teasertile .media .media-body p {
    font-size: 12px;
  }

  .hidden-xs {
    display: block !important;
  }

  .content .main .adaptiveimage figure img {
    width: auto;
  }

  .fact-sheet-image .adaptiveimage figure img {
      margin-top: 0;
      z-index: 0;
  }

  .columncontrol .column-control-column .columncontrol {
    margin: 0;
    margin-top: 20px;
    font-size: 12px;
  }

  .generic-page .columncontrol {
      margin-left: 15px;
      margin-right: 20px;
  }

  .nav-image .adaptiveimage figure img {
    float: left;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .content-title {
      font-size: 13px;
  }

  .content-description {
    font-size: 13px;
  }

  .nav-image .calltoaction .tysabri-promo-container {
      margin-right: 50px;
  }

  .nav-image .calltoaction .tysabri-cta {
    margin-top: 13px;
    height: 50px;
    width: 140px;
  }

  .template_genericfullwidth .footer-logo {
      margin-top: 0;
  }

  .columncontrol .teasertile {
    margin-bottom: 10px;
  }

}

@media only screen and (max-width: 375px){
  .logo-options .col1 .first {
      margin: 15px 0 15px -44px;
  }

  .logo-options .first img {
    width: 257px;
  }
}

@media only screen and (max-width: 320px){
  .logo-options .col1 .first {
      margin: 15px 0 15px -67px;
  }

}
