.template_home.modal-open .fade.in, .template_home .fade.in{
    background-color: rgba(0, 0, 0, 0.5) ;
}

.template_genericfullwidth .modal-backdrop {
  position: inherit;
}

.about-biogen-logo{
  text-align: center;
}

 #tecFideraInfoModal .modal-body {
    height: 385px;
    padding: 0px 50px 50px;
    font-size: 17px;
}

#aboutBiogenModal .modal-body {
    height: 531px;
    font-size: 17px;
    text-align: center;
}

.content .modal-content, .html .modal-content{
    background: linear-gradient(to left, rgb(234, 225, 155) 0%, rgb(245, 239, 218) 0%, rgb(251, 249, 238) 20%, rgb(234, 234, 227) 100%);
}

.content .modal-body {
  text-align: justify;
}

.modal-open footer .footer-links ul.mobile-footer-links {
    opacity: 0;
}

#tecFideraInfoModal, #aboutBiogenModal {
    background: rgba(43, 42, 40, 0.65);
}

.modal-content a {
  color: #000000;
  text-decoration: underline;
}

.modal-references{
  font-size: 13px;
  margin-top: 10px;
}


.generic-page .html .modal-dialog {
  width: 100%;
  margin: 90px auto;
  content: '';
  z-index: -1;
  -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  height: auto;
}

.template_home .html .modal-dialog {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.template_home .html .modal-footer, .html .modal-header, .generic-page .html .modal-footer {
  font-size: 16px;
  letter-spacing: -1.5px;
}

.template_home .html .modal-footer,.template_home .html .modal-header{
  font-size: 17px;
  letter-spacing: -1px;
}

.template_home .html .modal-header{
    padding: 50px 10px 20px;
}

.template_home .html .modal-body{
    padding: 15px 50px 20px;
    font-size: 19px;
}

.template_home .html .modal-header .close {
    margin-top: -35px;
}

.copyright.logo {
    float: left;
    height: 50px;
}

.copyright {
    display: inherit;
}

.copyright.text {
    text-align: center;
}

img.biogen-arrow {
    margin-top: -156px;
}

#tecFideraInfoModal .modal-header p{
  font-size: 15px;
  font-style: italic;
  margin-bottom: -10px;
}

.modal-open footer .desktop-footer-links li.modal-activelink a {
    color: #38681e !important;
}

.modal-content-subtitle {
    font-style: italic;
}

.modal-body b {
    font-weight: bolder;
    color: #000000;
}

.template_home .html .modal-footer {
    margin-left: 40px;
    font-size: 15px;
    letter-spacing: -1px;
    margin-right: 40px
}

@media only screen and (min-width: 1884px){
  .template_home .html .modal-dialog {
    width: 80%;
  }
}

@media only screen and (max-width: 767px) and (min-width: 414px) {
  .modal {
    top: 70px;
  }
  .template_home .html .modal-footer, .html .modal-header {
      font-size: 12px;
  }

  .template_home .html .modal-body, .template_home .html .modal-footer {
    padding: 15px 20px 20px;
  }

  .template_home .html .modal-header .close {
    margin-top: -35px;
    width: 25px;
  }

  img.biogen-arrow {
      margin-left: -21px;
      margin-top: -140px;
  }
  #tecFideraInfoModal .modal-body {
      height: 100%;
  }

  #aboutBiogenModal .modal-body {
      height: 100%;
  }
}

@media only screen and (max-width: 413px){
  .template_home .html .modal-footer, .html .modal-header {
      font-size: 12px;
  }

  .template_home .html .modal-body, .template_home .html .modal-footer {
    padding: 15px 20px 20px;
  }

  .template_home .html .modal-header .close {
    margin-top: -35px;
    width: 25px;
  }
  img.biogen-arrow {
    margin-left: -21px;
    margin-top: -140px;
  }
   #tecFideraInfoModal .modal-body {
      height: 100%;
  }

   #aboutBiogenModal .modal-body {
      height: 100%;
  }
}

@media only screen and (max-width: 768px) and (orientation : portrait){
  .copyright.logo {
    float: inherit;
  }

   #tecFideraInfoModal .modal-body {
      height: 100%;
  }

  #aboutBiogenModal .modal-body {
      height: 100%;
  }
}
