.num-ways {
  border-radius: 50%;
  background-color: #0088cf;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  color: white;
  width: 40px;
  margin-right: 10px;
  float: left;
  height: 40px;
  padding: 5px 3px 0px 3px;
}

body{
  font-family: "DinPro Light" !important;
  color: #4a4b4f;
}


.logo-options .col1 .first img {
    width: 450px;
}

.logo-options .wrapper {
    margin-bottom: -1px;
}

.footer-logo {
    margin-top: 0;
}

.title h1 {
    font-size: 37px;
    font-weight: 600;
    font-family: "DinPro Bold";
}

.carousel .wrapper {
    position: relative;
    min-width: 100%;
}

.logo-options .col1 .first {
    margin: 30px 0 15px -271px;
}

.page-header-generic {
    display: none;
}

.columncontrol {
    margin-left: 36px;
    margin-right: 50px;
}

.nav-image .adaptiveimage figure img {
  float: left;
  margin-left: -36px;
  margin-top: 86px;
  margin-bottom: 10px;
}

.start-nav-image .adaptiveimage figure img, .end-nav-image .adaptiveimage figure img{
  float: left;
  margin-left: -36px;
  margin-top: 86px;
  margin-bottom: 10px
}

.end-nav-image .adaptiveimage figure img, .stay-well .adaptiveimage figure img{
  margin-left: -36px;
}

/*.content-subtitle {
    font-size: 1.2;
}

.content-description {
    font-size: 1.2vw;
}*/

.column-control-column .text, .nav-image .title {
  margin-top: 20px;
  margin-bottom: 298px;
  display: block;
}

.columncontrol .column-control-column .text{
  margin-bottom: 100px;
}

.columncontrol .teasertile {
    margin-bottom: 166px;
}

.nav-image .calltoaction .tysabri-cta {
    display: inline-block;
    color: #f0a055;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 0;
    width: 350px;
    height: 63px;
    /*border: none;*/
    -webkit-box-shadow: none;
    box-shadow: 0 0 1em grey;
    -webkit-box-shadow: 0 0 1em grey;
    -moz-box-shadow: 0 0 1em gray;
    box-shadow: none;
    -webkit-box-shadow: none;

}

.nav-image .calltoaction .tysabri-promo-container {
    padding-left: 0;
    padding-right: 10px;
    height: -14px;
    width: 20%;
    margin-right: 410px;
    margin-top: -73px;
}

.nav-image .calltoaction .last {
    float: right;
}

/*
#cta-type-3 {
  margin-left: -34px;
}*/

.content-subtitle{
  color: #0088cf;
  font-weight: 500;
}

.media .media-body {
    /* text-align: justify;
    display: inline; */
    font-size: 19px;
    margin-top: 10px;
    display: inline-block;
}

.columncontrol .teasertile {
    margin-top: -20px;
}

.generic-page .columncontrol {
    margin-left: 70px;
    margin-right: 50px;
}

.columncontrol .column-control-column .columncontrol {
    margin-left: 3px;
    margin-top: 20px;
    margin-right: 50px;
}

.title {
  margin-top: 20px;
}

.page_ready-to-start-planning .column-control-column .title{
  margin-top: 65px;
}

.template_genericfullwidth header {
  position: relative;
  z-index: 0;
}

.fact-sheet-image .section img.talent {
    margin-left: auto;
    margin-right: auto;
}

.fact-sheet .desktop-image {
  display: block;
  margin-top: -208px;
  z-index: 1;
}

.fact-sheet .default{
  margin-top: -176px;
}

footer .disclaimer-text, .logo-options .col1 .first img {
  display: block;
}

.teasertile .media-heading {
    margin-bottom: -17px;
}

.template_genericfullwidth .footer-logo {
    margin-top: 10px;
}

/*p.content-subtitle {
    font-size: 15px;
}

p.content-description {
  font-size: 17px;
}*/

@media only screen and (min-width: 2050px) {
  .nav-image .calltoaction .tysabri-promo-container{
    margin-right: 501px;
  }

  .fact-sheet .mobile-image {
    display: none;
  }

  .start-nav-image .adaptiveimage figure img, .end-nav-image .adaptiveimage figure img {
      float: left;
      margin-left: -70px;
      margin-top: 306px;
      margin-bottom: 10px;
  }

  .end-nav-image .adaptiveimage figure img, .stay-well .adaptiveimage figure img{
    margin-left: -36px;
  }
}

@media only screen and (max-width: 2049px) and (min-width: 1949px) {
  .nav-image .calltoaction .tysabri-promo-container{
    margin-right: 130px;
  }

  .fact-sheet .mobile-image {
    display: none;
  }

  .start-nav-image .adaptiveimage figure img, .end-nav-image .adaptiveimage figure img {
      float: left;
      margin-left: -70px;
      margin-top: 306px;
      margin-bottom: 10px;
  }

  .end-nav-image .adaptiveimage figure img, .stay-well .adaptiveimage figure img{
    margin-left: -36px;
  }
}

@media only screen and (max-width: 1948px) and (min-width: 1759px) {
  .logo-options .col1 .first {
    left: calc(28% - 186px);
    position: fixed;
  }

  .nav-image .calltoaction .tysabri-promo-container{
    margin-right: 130px;
  }

  .fact-sheet .mobile-image {
    display: none;
  }

  .columncontrol .column-control-column .text{
    margin-bottom: 20px;
    width: 80%;
    font-size: 1vw;
  }

  /*p.content-description {
    font-size: 1.3vw;
  }*/

  .columncontrol .teasertile {
      margin-bottom: 20px;
  }

  .start-nav-image .adaptiveimage figure img, .end-nav-image .adaptiveimage figure img {
      float: left;
      margin-left: -70px;
      margin-bottom: 10px;
  }

  .nav-image .adaptiveimage figure img {
      margin-top: 20px;
  }

  .page_stay-well-on-treatment .nav-image .adaptiveimage figure img {
    margin-top: 0;
  }


  .title h1 {
    font-size: 37px;
  }

  .page_ready-to-start-planning .start-nav-image .adaptiveimage figure img{
        margin-top: 100px;
  }

  .end-nav-image .adaptiveimage figure img, .stay-well .adaptiveimage figure img{
    margin-left: -36px;
  }

  .page_ready-to-start-planning .columncontrol .column-control-column .text{
    font-size: 19px;
  }

  .page_plan-effectively-treat-ms .title h1, .page_stay-well-on-treatment .title h1, .page_convenience .title h1{
    margin-top: -13px;
  }

  .end-nav-image .adaptiveimage figure img{
    margin-top : 0;
  }

  .page_plan-effectively-treat-ms .columncontrol .column-control-column .text {
    font-size: 19px;
    line-height: 1.2;
    margin-right: 10px;
  }

  .page_plan-effectively-treat-ms p.content-subtitle {
    font-weight: bolder;
  }
}


@media only screen and (max-width: 1758px) and (min-width: 1495px) {
  .logo-options .col1 .first {
    left: calc(28% - 160px);
    position: fixed;
  }

  .num-ways {
    margin-bottom: 30px;
  }

  .columncontrol .column-control-column .text{
    margin-bottom: 10px;
    font-size: 1.4vw;
  }

  .columncontrol .teasertile {
      margin-bottom: 10px;
  }

  .template_genericfullwidth header {
    position: relative;
    z-index: 0;
  }

  .logo-options .col1 .first {
    margin: 30px 0 15px -218px;
  }

  .nav-image .adaptiveimage figure img {
    margin-left: -36px;
    margin-top: 50px;
    margin-bottom: 10px;
  }

  .page_stay-well-on-treatment .nav-image .adaptiveimage figure img {
    margin-top: 0;
  }

  .nav-image .calltoaction .tysabri-promo-container {
    margin-right: 160px;
  }

  .fact-sheet .mobile-image {
    display: none;
  }

  .start-nav-image .adaptiveimage figure img, .end-nav-image .adaptiveimage figure img {
      float: left;
      margin-left: -70px;
      margin-bottom: 10px;
  }

  .page_ready-to-start-planning .start-nav-image .adaptiveimage figure img{
        margin-top: 114px;
  }

  .end-nav-image .adaptiveimage figure img, .stay-well .adaptiveimage figure img{
    margin-left: -36px;
  }

  .page_ready-to-start-planning .columncontrol .column-control-column .text{
    font-size: 19px;
  }

  .page_plan-effectively-treat-ms .title h1, .page_stay-well-on-treatment .title h1, .page_convenience .title h1{
    margin-top: -13px;
  }

  .end-nav-image .adaptiveimage figure img{
    margin-top : 15px;
  }

  .page_plan-effectively-treat-ms .columncontrol .column-control-column .text,.page_plan-effectively-treat-ms p.content-subtitle {
    font-size: 19px;
    line-height: 1.2;
    margin-right: 10px;
  }

  .page_plan-effectively-treat-ms p.content-subtitle {
    font-weight: bolder;
  }
}


@media only screen and (max-width: 1494px) and (min-width: 1161px) {

  .logo-options .col1 .first {
      left: calc(28% - 41px);
      position: fixed;
  }

  .columncontrol .column-control-column .text{
    margin-bottom: 10px;
    font-size: 1.3vw;
  }

  .columncontrol .teasertile {
      margin-bottom: 10px;
  }

  .template_genericfullwidth header {
    position: relative;
    z-index: 0;
  }

  .nav-image .calltoaction .tysabri-promo-container {
    margin-right: 166px;
  }

  .nav-image .calltoaction .tysabri-cta{
    margin-top: 20px;
    width: 315px;
    height: 40px;
  }

  .nav-image .adaptiveimage figure img {
    float: left;
    margin-left: -36px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .page_stay-well-on-treatment .nav-image .adaptiveimage figure img {
    margin-top: 3px;
  }


  .start-nav-image .adaptiveimage figure img, .end-nav-image .adaptiveimage figure img {
      float: left;
      margin-left: -70px;
      margin-bottom: 10px;
  }

  .page_plan-effectively-treat-ms .title h1, .page_stay-well-on-treatment .title h1, .page_convenience .title h1{
    margin-top: -13px;
  }

  .end-nav-image .adaptiveimage figure img{
    margin-top : 0;
  }


  .page_ready-to-start-planning .columncontrol .column-control-column .text{
    font-size: 19px;
  }

  .page_ready-to-start-planning .start-nav-image .adaptiveimage figure img{
    margin-top: 125px;
  }

  .page_learn-how .fact-sheet .desktop-image, .page_plan-effectively-treat-ms .fact-sheet .desktop-image {
    margin-top: -200px;
  }

  .end-nav-image .adaptiveimage figure img, .stay-well .adaptiveimage figure img{
    margin-left: -36px;
  }

  .stay-well .adaptiveimage figure img {
    margin-top: 125px;
  }

  .fact-sheet .mobile-image {
    display: none;
  }

  .fact-sheet .desktop-image {
    display: block;
    margin-top: -170px;
    z-index: 1;
  }
  .page_plan-effectively-treat-ms .columncontrol .column-control-column .text,.page_plan-effectively-treat-ms p.content-subtitle {
    font-size: 19px;
    line-height: 1.2;
    margin-right: 10px;
  }

}

@media only screen and (max-width: 1160px) and (min-width: 768px) and (orientation: portrait) {
  .fact-sheet img {
    height: auto;
    max-width: none;
    width: auto;
  }

  .fact-sheet-image .section .talent {
      margin-left: -40px;
  }

  .nav-image {
    margin-top: 60px;
  }

  .page_plan-effectively-treat-ms .columncontrol .column-control-column .text,.page_plan-effectively-treat-ms p.content-subtitle {
    font-size: 19px;
    line-height: 1.2;
  }

  .nav-image .calltoaction .tysabri-cta {
    margin-top: 30px;
    height: 30px;
    width: 220px;
  }

  .nav-image .calltoaction .tysabri-promo-container {
    margin-right: 127px;
  }

  .page_plan-effectively-treat-ms .title h1, .page_stay-well-on-treatment .title h1{
    margin-top: -13px;
  }

}


@media only screen and (max-width: 1160px) and (min-width: 1010px) and (orientation: landscape) {
  .page_plan-effectively-treat-ms .columncontrol .column-control-column .text,.page_plan-effectively-treat-ms p.content-subtitle {
    font-size: 19px;
    line-height: 1.2;
    margin-right: 10px;
  }

  .page_plan-effectively-treat-ms .title h1, .page_stay-well-on-treatment .title h1{
    margin-top: -13px;
  }

  .page_learn-how .fact-sheet .desktop-image, .page_plan-effectively-treat-ms .fact-sheet .desktop-image {
    margin-top: -200px;
  }

  .fact-sheet-image .adaptiveimage {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -15px;
  }

  .fact-sheet-image .section .talent {
    max-width: none;
  }

  .columncontrol .column-control-column .text {
    margin-bottom: 0;
    font-size: 1.7vw;
  }

  .num-ways {
    margin-bottom: 48px;
  }

  .template_genericfullwidth header {
    position: relative;
    z-index: 0;
  }

  .logo-options .col1 .first {
    left: calc(28% - -27px);
    position: fixed;
  }

  .nav-image .calltoaction .tysabri-cta {
    margin-top: 30px;
    height: 30px;
    width: 220px;
  }

  .nav-image .calltoaction .tysabri-promo-container {
    margin-right: 120px;
  }

  .fact-sheet .desktop-image {
    display: block;
    z-index: 1;
    margin-top: -160px;
  }

  .fact-sheet .mobile-image {
    display: none;
  }

  .nav-image .adaptiveimage figure img {
    margin-top: -42px;
  }

  .columncontrol .column-control-column .text{
    margin-bottom: 40px;
  }

  .columncontrol .teasertile {
      margin-bottom: 10px;
  }

  .nav-image .adaptiveimage figure img {
    float: left;
    margin-left: -36px;
    margin-top: -30px;
    margin-bottom: 10px;
  }

  .start-nav-image .adaptiveimage figure img, .end-nav-image .adaptiveimage figure img, .stay-well .adaptiveimage figure img  {
      float: left;
      margin-left: -70px;
      margin-bottom: 10px;
  }

  .page_ready-to-start-planning .start-nav-image .adaptiveimage figure img{
        margin-top: 54px;
  }

  .end-nav-image .adaptiveimage figure img, .stay-well .adaptiveimage figure img{
    margin-left: -36px;
  }

  .page_ready-to-start-planning .column-control-column .title {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 1009px) and (min-width: 768px){
  .columncontrol .column-control-column .columncontrol .col-md-4 {
      width: 100%;
      text-align: justify;
  }

  fact-sheet-image .section img.talent {
    margin-left: auto;
    margin-right: auto;
  }

  .columncontrol .column-control-column .text {
    margin-bottom: 0;
    font-size: 1.7vw;
  }

  .num-ways {
    margin-bottom: 30px;
  }

  .template_genericfullwidth header {
    position: relative;
    z-index: 0;
  }

  .logo-options .col1 .first {
    left: calc(28% - -105px);
    position: fixed;
  }

  .nav-image .calltoaction .tysabri-cta {
    margin-top: 30px;
    height: 30px;
    width: 220px;
  }

  .nav-image .calltoaction .tysabri-promo-container {
    margin-right: 150px;
  }

  .fact-sheet .desktop-image {
    display: block;
    z-index: 1;
    margin-top: -160px;
  }

  .fact-sheet .mobile-image {
    display: none;
  }

  .nav-image .adaptiveimage figure img {
    margin-top: -42px;
  }

  .columncontrol .column-control-column .text{
    margin-bottom: 40px;
  }

  .columncontrol .teasertile {
      margin-bottom: 10px;
  }

  .nav-image .adaptiveimage figure img {
    float: left;
    margin-left: -36px;
    margin-top: -30px;
    margin-bottom: 10px;
  }

  .fact-sheet-image .section img.talent {
    max-width: none;
  }

  .start-nav-image .adaptiveimage figure img, .end-nav-image .adaptiveimage figure img, .stay-well .adaptiveimage figure img  {
      float: left;
      margin-left: -70px;
      margin-bottom: 10px;
  }

  .page_ready-to-start-planning .start-nav-image .adaptiveimage figure img{
    margin-top: 138px;
  }

  .end-nav-image .adaptiveimage figure img, .stay-well .adaptiveimage figure img{
    margin-left: -36px;
  }

  .page_learn-how .fact-sheet .desktop-image, .page_plan-effectively-treat-ms .fact-sheet .desktop-image {
    margin-top: -200px;
  }

  .page_plan-effectively-treat-ms .columncontrol .column-control-column .text,.page_plan-effectively-treat-ms p.content-subtitle {
    font-size: 19px;
    line-height: 1.2;
  }

  .page_plan-effectively-treat-ms .title h1, .page_stay-well-on-treatment .title h1{
    margin-top: -13px;
  }

}


@media only screen and (max-width: 767px) and (min-width: 414px) {
  .fact-sheet .mobile-image {
      display: block;
  }

  .fact-sheet .desktop-image {
    display: none;
  }

  .content .main .adaptiveimage figure img {
    width: auto;
  }

  .teasertile .media .media-body p {
    font-size: 17px;
  }

  .hidden-xs {
    display: block !important;
  }

  .fact-sheet-image .adaptiveimage {
    margin-bottom: -15px;
  }

  .template_genericfullwidth header {
    position: relative;
    z-index: 1;
  }

  .fact-sheet-image .adaptiveimage figure img {
      margin-top: -128px;
      z-index: 0;
  }

  .generic-page .columncontrol {
      margin-left: 15px;
      margin-right: 20px;
  }

  .logo-options .col1 .first {
    margin-right: auto;
    margin-left: 33px;
    display: block;
    width: 100%;
  }

  .logo-options .col1 .first img {
      width: 90%;
      text-align: center;
  }

  .columncontrol .column-control-column .text {
      margin-bottom: 0;
      font-size: 17px;
  }

  .page_plan-effectively-treat-ms .columncontrol .column-control-column .text {
    margin-bottom: 35px;
  }


  .nav-image .calltoaction .tysabri-promo-container {
    margin-right: -8px;
    margin-top: -65px;
  }

  .columncontrol .column-control-column .columncontrol {
    margin: 0;
    margin-top: 20px;
  }

  .template_genericfullwidth .footer-logo {
      margin-top: 0;
  }

  .columncontrol .teasertile {
    margin-bottom: 10px;
  }

  .page_plan-effectively-treat-ms .columncontrol .column-control-column .text,.page_plan-effectively-treat-ms p.content-subtitle {
    font-size: 17px;
    line-height: 1.2;
  }

  .page_plan-effectively-treat-ms .title h1, .page_stay-well-on-treatment .title h1{
    margin-top: -13px;
  }

  footer .footer-subtitle {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 767px) and (min-width: 414px) and (orientation: portrait){
  .nav-image .calltoaction .tysabri-cta {
    margin-top: 0;
    height: 57px;
    width: 130px;
  }
  .nav-image .adaptiveimage figure img {
    margin-left: 0;
  }

  .nav-image .adaptiveimage figure img {
    margin-top: 40px;
  }

  .second-column {
    margin-top: -30px;
  }

  .logo-options .col1 .first {
      margin-top: 2.8vh;
      display: block;
  }

}

@media only screen and (max-width: 767px) and (min-width: 574px) and (orientation: portrait){
  .logo-options .col1 .first {
    margin-top: 0.8vh;
    margin-left: 40px;
    display: block;
  }
}

@media only screen and (max-width: 767px) and (min-width: 414px) and (orientation: landscape){
  .nav-image .calltoaction .tysabri-cta {
    margin-top: 0;
    height: 62px;
    width: 170px;
  }

  .nav-image .adaptiveimage figure img {
    margin-left: -4px;
    margin-top: 0;
  }
}



@media only screen and (max-width: 413px) {
  .start-nav-image .adaptiveimage figure img {
    margin-top: -56px;
  }

  .logo-options .col1 .first {
    margin-top: 2.8vh;
    display: block;
    margin-left: 8px;
    padding: 0;
  }

  .nav-image .calltoaction .tysabri-cta {
    margin-top: 0;
    height: 57px;
    width: 130px;
  }
  .nav-image .adaptiveimage figure img {
    margin-left: 0;
    margin-top: 40px;
  }

  .second-column {
    margin-top: -30px;
  }

  .fact-sheet .mobile-image {
      display: block;
      /*margin-top: -98px;*/
  }

  .fact-sheet .desktop-image {
    display: none;
  }

  .template_genericfullwidth header {
    position: relative;
    z-index: 1;
  }

  .teasertile .media-heading {
    margin-bottom: -15px;
  }

  .teasertile .media .media-body p {
    font-size: 17px;
  }

  .hidden-xs {
    display: block !important;
  }

  .content .main .adaptiveimage figure img {
    width: auto;
  }

  .fact-sheet-image .adaptiveimage figure img {
      margin-top: 0;
      z-index: 0;
  }

  .columncontrol .column-control-column .columncontrol {
    margin: 0;
    margin-top: 20px;
    font-size: 17px;
  }

  .generic-page .columncontrol {
      margin-left: 15px;
      margin-right: 20px;
  }

  .nav-image .adaptiveimage figure img {
    float: left;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .nav-image .calltoaction .tysabri-promo-container {
      margin-right: 50px;
  }

  .nav-image .calltoaction .tysabri-cta {
    margin-top: 13px;
    height: 50px;
    width: 140px;
  }

  .template_genericfullwidth .footer-logo {
      margin-top: 0;
  }

  .columncontrol .teasertile {
    margin-bottom: 10px;
  }

  .second-column {
    margin-top: -30px;
  }

  .page_plan-effectively-treat-ms .columncontrol .column-control-column .text,.page_plan-effectively-treat-ms p.content-subtitle {
    font-size: 19px;
    line-height: 1.2;
  }

  .page_plan-effectively-treat-ms .title h1, .page_stay-well-on-treatment .title h1{
    margin-top: -13px;
  }

  .columncontrol .column-control-column .text {
    font-size: 17px;
  }

}

@media only screen and (max-width: 375px){
  .logo-options .col1 .first {
      margin: 0;
      padding: 0;
      margin-top: 30px;
  }

  .logo-options .first img {
    width: 257px;
  }

  .second-column {
    margin-top: -30px;
  }

  .columncontrol .column-control-column .text {
    margin-bottom: 100px;
    font-size: 17px;
  }
}

@media only screen and (max-width: 320px){
  .logo-options .col1 .first {
      margin: 0;
      padding: 0;
      margin-top: 30px;
  }

  .second-column {
    margin-top: -30px;
  }

}
