@font-face {
 font-family: 'DinPro MedItalic';
 src: url('/content/dam/commercial-au/neurology/planforthepossible/pat/en_nz/fonts/DINPro-MediumItalic.otf') format("opentype");
}

@font-face {
 font-family: 'DinPro Bold';
 src: url('/content/dam/commercial-au/neurology/planforthepossible/pat/en_nz/fonts/DINPro-Bold.otf') format("opentype");
}

@font-face {
 font-family: 'DinPro Light';
 src: url('/content/dam/commercial-au/neurology/planforthepossible/pat/en_nz/fonts/DINPro-Light.otf') format("opentype");
}

@font-face {
 font-family: 'DinPro';
 src: url('/content/dam/commercial-au/neurology/planforthepossible/pat/en_nz/fonts/DINPro.otf') format("opentype");
}

@font-face {
 font-family: 'HelveticaNeu';
 src: url('/content/dam/commercial-au/neurology/planforthepossible/pat/en_nz/fonts/HelveticaNeue-ThinCond.otf') format("opentype");
}



.main.generic-page.full-width {
    background: linear-gradient(to left, rgb(234, 225, 155) 0%, rgb(245, 239, 218) 0%, rgb(251, 249, 238) 20%, rgb(234, 234, 227) 100%);
}

header .logo-options, footer, header .utility-nav {
    margin: 0;
    background: rgba(150,150,150,1);
    background: -moz-linear-gradient(left, rgba(150,150,150,1) 0%, rgba(76,66,76,1) 0%, rgba(138,138,138,1) 62%, rgba(168,168,168,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(150,150,150,1)), color-stop(0%, rgba(76,66,76,1)), color-stop(62%, rgba(138,138,138,1)), color-stop(100%, rgba(168,168,168,1)));
    background: -webkit-linear-gradient(left, rgba(150,150,150,1) 0%, rgba(76,66,76,1) 0%, rgba(138,138,138,1) 62%, rgba(168,168,168,1) 100%);
    background: -o-linear-gradient(left, rgba(150,150,150,1) 0%, rgba(76,66,76,1) 0%, rgba(138,138,138,1) 62%, rgba(168,168,168,1) 100%);
    background: -ms-linear-gradient(left, rgba(150,150,150,1) 0%, rgba(76,66,76,1) 0%, rgba(138,138,138,1) 62%, rgba(168,168,168,1) 100%);
    background: linear-gradient(to right, rgb(123, 133, 142) 0%, rgb(73, 89, 102) 0%, rgb(114, 124, 133) 62%, rgb(124, 134, 143) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#969696', endColorstr='#a8a8a8', GradientType=1 );
}

.logo-options .wrapper {
  margin-bottom: 0;
  height: 120px;
}

.logo-options .col1 .first a {
    max-width: 100%;
    margin: 0;
    height: 60px;
}

header .mobile-menu-toggle, footer .disclaimer-text, .logo-options .col1 .first img {
    display: none;
}

body{
  font-family: "DinPro Light" !important;
}

.template_home .carousel {
    margin-top: -2px;
    margin-bottom: 0;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.template_genericfullwidth .content {
    padding: 0;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.carousel .wrapper {
    position: relative;
    min-width: 100%;
}


div.bx-viewport{
    height: auto !important;
}

div.hero span.responsive-options img{
width: 100% !important;
}

.btn-cta {
    border-color: none !important;
    background-color: none;
}

.btn-cta .btn-cta-arrow {
    display: none;
}

a.btn.btn-cta.responsive-options {
    position: absolute;
    bottom: 0;
    height: 100%;
    left: 0px;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0);
    text-indent: -9999px;
    border: none;
}

.bx-controls {
    text-align: right;
    right: 552px;
    bottom: 37px;
}

.bx-controls .slider-prev a, .bx-controls .slider-next a {
    color: #929aa0;
    display: none;
}

.bx-pager a:hover, .bx-pager a.active {
    background: none repeat scroll 0 0 #625b62 !important;
}

.bx-pager a {
	background: none !important;
}

.back-to-top {
    display: none !important;
}

footer {
	border-bottom: 30px solid #04a0d6;
  padding: 0 0 10px;
}

footer .footerSocialIcons {
    display: none;
}

footer .logo-biogen {
    display: none;
}

.footer-logo img {
    padding: 30px;
}

footer, footer a {
  #cfdae2;
}

footer .siteMapFooter-links {
	display: none !important;
}

footer .footer-links {
  text-align: center;
  margin-top: -12px;
}

footer .footer-links-container .footer-info {
	text-align: center !important;
	max-width: none !important;
  font-family: "HelveticaNeu";
  color: #cfd6de;
}

footer .contact-us-footer {
    display: none !important;
}

.footer-subtitle {
    margin-bottom: 3px;
}

.footer-content {
    text-align: center;
}


footer .footer-links-container .logo-biogen, .template_home .content {
	display: none;
}

footer .footer-links ul.mobile-footer-links a, footer .footer-links ul.desktop-footer-links a, .footer-categories .footerelement .footer-category-item a {
    color: #cfdae2 !important;
    font-family: "DinPro" !important;
}

footer .footer-links ul.mobile-footer-links a, .footer-categories .footerelement .footer-category-item a {
    font-size: 25px;
}

footer .footer-links ul.desktop-footer-links a{
  font-size: 16px;
}

footer .footer-links ul li {
    border-right: 0.5px solid white !important;
}

footer .back-to-top .icon-span {
    background: #96a99e;
}

footer .logo-desktop.tecfidera {
    width: auto;
}

footer .logo-desktop.biogen {
    margin-top: -14px;
    width: auto;
}

footer .footer-links-container{
  margin-right: auto;
  margin-left: auto;
}

footer .footer-content {
    font-size: 11px;
}

.template_home .footer-logo {
  margin-bottom: -15px;
  margin-top: 50px;
  width: auto;
}

.template_genericfullwidth .footer-logo {
    margin-bottom: -10px;
    margin-top: 100px;
}

.template_genericfullwidth footer ul {
    margin: 0 0 5px;
}

footer .footer-links-container p a {
    color: #f5f1f0 !important;
}

footer .footer-links ul.mobile-footer-links {
    display: none !important;
}

.footerelement {
    border-bottom: 1px solid #e5e5e5;
    line-height: 40px;
    border-right: none;
}

.footer-categories{
  display: none;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -20px;
  margin-bottom: 35px;
}



.footer-category-item {
    margin: .4em 0 0;
}

sup {
    top: -6px;
    font-size: 9px;
    margin-left: -4px;
}

sup.asterisk {
    font-size: 17px;
    margin-left: -2px;
}

sup.asterisk.title{
  top: -18px;
}

sup.registered {
    margin-left: 0;
}

  .footer-subtitle{
    text-align: center;
  }




/*
@media only screen and (max-width: 1796px) and (min-width: 1161px) {
  footer .wrapper {
		max-width: 80%;
	}

  footer .footer-links ul li {
	  border-right: 0.5px solid white !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
	}
}*/

@media only screen and (min-width: 1335px){
  .bx-pager a {
    width: 25px;
    height: 25px;
    margin: -5px 3px;
    border: 4px solid #a4a4a4;
    border-radius: 15px;
  }

  footer .footer-links ul.desktop-footer-links a {
      font-size: 21px;
  }

  .footer-subtitle .footer-info b {
    font-size: 17px;
    letter-spacing: 0.5px;
  }

  footer .footer-content, footer .footer-links-container .footer-info {
    font-size: 15px !important;
    letter-spacing: 0.5px;
  }

  .bx-controls .slider-pager {
      margin: 0 -18.75em;
  }

  footer .wrapper {
    max-width: 96%;
  }

	footer .footer-links ul li {
	  border-right: 0.5px solid white !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
	}
	footer .footer-links ul li:last-child {
	    border-right: none !important;
	}
	footer .footer-links ul.desktop-footer-links {
		display: inline-block !important;
	}

  .footer-logo img.logo-mobile {
    display: none;
  }

}

@media only screen and (max-width: 1335px) and (min-width: 1025px) {
  .bx-pager a {
    width: 25px;
    height: 25px;
    margin: -5px 3px;
    border: 4px solid #a4a4a4;
    border-radius: 15px;
  }

  footer .footer-links ul.desktop-footer-links a {
      font-size: 15px;
  }

  .footer-subtitle .footer-info b {
    font-size: 13px;
    letter-spacing: 0.5px;
  }

  footer .footer-content, footer .footer-links-container .footer-info {
    font-size: 12px !important;
    letter-spacing: 0.5px;
  }

  .bx-controls .slider-pager {
      margin: 0 -18.75em;
  }

  footer .wrapper {
    max-width: 96%;
  }

	footer .footer-links ul li {
	  border-right: 0.5px solid white !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
	}
	footer .footer-links ul li:last-child {
	    border-right: none !important;
	}
	footer .footer-links ul.desktop-footer-links {
		display: inline-block !important;
	}

  .footer-logo img.logo-mobile {
    display: none;
  }

}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .template_home .footer-logo {
    margin-top: 75px;
  }

  footer .footer-links ul.desktop-footer-links a {
    font-size: 1.45vw;
  }

  .footer-subtitle .footer-info b {
    font-size: 13px;
    letter-spacing: 0.5px;
  }

  footer .footer-content, footer .footer-links-container .footer-info {
    font-size: 12px !important;
    letter-spacing: 0.5px;
  }

  footer .logo-desktop.tecfidera {
    width: auto;
  }

  footer .logo-desktop.biogen {
    margin-top: -14px;
    width: auto;
  }

  footer .wrapper {
    max-width: 100%;
  }

  footer .footer-links ul li {
      padding-left: 15px !important;
      padding-right: 15px !important;
  }

  footer .footer-links ul li:last-child {
      border-right: none !important;
  }
  footer .footer-links ul.desktop-footer-links {
    display: inline-block !important;
  }

  .footer-logo img.logo-mobile {
    display: none;
  }

  .bx-pager a {
    width: 20px;
    height: 20px;
    margin: -5px 3px;
    border: 3px solid #a4a4a4;
    border-radius: 15px;
  }

  .bx-controls .slider-pager {
    margin: 0 5.25em;
  }

  .bx-controls {
      text-align: right;
      right: 156px;
      bottom: 20px;
  }
}

@media only screen and (max-width: 767px) and (min-width: 621px) {
  .bx-pager a {
    width: 20px;
    height: 20px;
    margin: 0 3px;
    border: 2px solid #a4a4a4;
    border-radius: 15px;
  }

  .bx-controls {
      text-align: right;
      right: 156px;
      bottom: 20px;
  }

	footer .wrapper {
		max-width: 100%;
	}

	/*footer .footer-links ul.mobile-footer-links {

    display: contents !important;
    width: 100%;
	}*/

  .footer-subtitle .footer-info b {
    font-size: 16px;
    letter-spacing: 0.5px;
  }

  footer .footer-content, footer .footer-links-container .footer-info {
    font-size: 15px !important;
    letter-spacing: 0.5px;
  }

	footer .footer-links ul li {
    border-bottom: 1px solid #e5e5e5;
		line-height: 40px;
		border-right: none !important;
	}

	footer .desktop-disclaimer {
    padding: 10px;
	}

  .logo-mobile.tecfidera {
      width: 330px;
  }

  .logo-mobile.biogen {
    margin-top: -25px;
  }

  .footer-logo img.logo-desktop {
    display: none;
  }

}



@media only screen and (max-width: 620px) and (min-width: 414px) {
  .bx-pager a {
    width: 20px;
    height: 20px;
    margin: 0 3px;
    border: 2px solid #a4a4a4;
    border-radius: 15px;
  }

  .footer-categories{
    display: block;
  }

  .bx-controls {
      text-align: right;
      right: 156px;
      bottom: 20px;
  }

	footer .wrapper {
		max-width: 100%;
	}

	/*footer .footer-links ul.mobile-footer-links {

    display: inline-grid !important;
    width: 100%;
	}*/

  .footer-subtitle .footer-info b {
    font-size: 16px;
    letter-spacing: 0.5px;
  }

  footer .footer-content, footer .footer-links-container .footer-info {
    font-size: 15px !important;
    letter-spacing: 0.5px;
  }

	footer .footer-links ul li {
    border-bottom: 1px solid #e5e5e5;
		line-height: 40px;
		border-right: none !important;
	}


	footer .desktop-disclaimer {
    padding: 10px;
	}



  .logo-mobile.tecfidera {
      width: 313px;
  }

  .logo-mobile.biogen {
      margin-top: -25px;
      width: 200px;
  }

  .footer-logo img.logo-desktop {
    display: none;
  }
}

@media only screen and (max-width: 479px) {
  footer .footer-links ul.mobile-footer-links a, .footer-categories .footerelement .footer-category-item a {
    font-size: 18px;
  }

  .footer-categories{
    display: block;
  }

  img.logo-mobile.tecfidera {
    width: 240px;
  }

  img.logo-mobile.biogen {
    width: 150px;
  }

  .bx-pager a {
    width: 20px;
    height: 20px;
    margin: -20px 3px;
    border: 2px solid #a4a4a4;
    border-radius: 10px;
  }

  .bx-controls {
      text-align: right;
      right: 90px;
      bottom: 5px;
  }

	footer .wrapper {
		max-width: 100%;
	}

  /*footer .footer-links ul.mobile-footer-links {

    display: inline-grid !important;
    width: 100%;
	}*/

  .footer-subtitle .footer-info b {
    font-size: 16px;
    letter-spacing: 0.5px;
  }

  footer .footer-content, footer .footer-links-container .footer-info {
    font-size: 15px !important;
    letter-spacing: 0.5px;
  }

	footer .footer-links ul li {
    border-bottom: 1px solid #e5e5e5;
    line-height: 40px;
    border-right: none;
    border-right: 0 solid white !important;
	}

  .footer-subtitle {
    margin-bottom: 8px;
    text-align: center;
  }

	footer .desktop-disclaimer {
    padding: 10px;
	}

  .footer-logo img.logo-desktop {
    display: none;
  }

  img.logo-mobile.tecfidera {
      width: 240px;
  }

  img.logo-mobile.biogen {
      width: 150px;
  }

  .footer-logo img {
    padding: 20px;
  }
}

@media only screen and (max-width: 375px) {
  footer .footer-links ul.mobile-footer-links a, .footer-categories .footerelement .footer-category-item a {
    font-size: 18px;
  }

  .footer-categories{
    display: block;
  }

  img.logo-mobile.tecfidera {
    width: 240px;
  }

  img.logo-mobile.biogen {
    width: 150px;
  }

  .footer-subtitle .footer-info b {
    font-size: 13px;
    letter-spacing: 0.5px;
  }

  footer .footer-content, footer .footer-links-container .footer-info {
    font-size: 12px !important;
    letter-spacing: 0.5px;
  }

}
