
.template_home.modal-open .fade.in, .template_home .fade.in{
    background-color: rgba(0, 0, 0, 0.5) ;
}

.hide-over{
  z-index: -1; /*for hiding overlapping links and trademark*/
}

.template_genericfullwidth .modal-backdrop {
  position: inherit;
}

.about-biogen-logo{
  text-align: center;
}

.modal-open .modal {
    overflow-y: overlay;
}

.modal-body, .modal-header, .modal-footer {
  color: #0e1111;
}

 #tecFideraInfoModal .modal-body {
    height: 385px;
    padding: 0px 50px 50px;
    font-size: 17px;
}

#aboutBiogenModal .modal-body {
    height: 531px;
    font-size: 17px;
    text-align: center;
}

.content .modal-content, .html .modal-content{
    background: linear-gradient(to left, rgb(234, 225, 155) 0%, rgb(245, 239, 218) 0%, rgb(251, 249, 238) 20%, rgb(234, 234, 227) 100%);
}

.content .modal-body {
  text-align: justify;
}

.modal-open footer .footer-links ul.mobile-footer-links {
    opacity: 0;
}

#tecFideraInfoModal, #aboutBiogenModal {
    background: rgba(43, 42, 40, 0.65);
}

.modal-content a {
  color: #000000;
  text-decoration: underline;
}

.modal-references{
  font-size: 13px;
  margin-top: 10px;
}


.generic-page .html .modal-dialog {
  width: 100%;
  margin: 90px auto;
  content: '';
  z-index: -1;
  -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  height: auto;
}

.template_home .html .modal-dialog {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.template_home .html .modal-footer, .html .modal-header, .generic-page .html .modal-footer {
  font-size: 16px;
  letter-spacing: -1.5px;
  margin-bottom: 10px;
  border-top: 0;
}

.template_home .html .modal-footer,.template_home .html .modal-header{
  font-size: 17px;
  letter-spacing: -1px;
  margin-bottom: 10px;
}

.template_home .html .modal-header{
    padding: 50px 10px 20px;
}

.content .modal-header {
    padding: 50px 10px 20px;
}

.content .tecfidera-modal.close {
    margin-top: -35px;
}

.template_home .html .modal-body{
    padding: 15px 50px 20px;
    font-size: 19px;
}

.template_home .html .modal-header .close {
    margin-top: -35px;
}

.copyright.logo {
    float: left;
    height: 50px;
}

.copyright {
    display: table;
}

.copyright.text {
    text-align: center;
    margin-top: 10px;
}

img.biogen-arrow {
    margin-top: -156px;
}

#tecFideraInfoModal .modal-header p{
  font-size: 15px;
  font-style: italic;
  margin-bottom: -10px;
}

.modal-open footer .desktop-footer-links li.modal-activelink a {
    color: #38681e !important;
}

.modal-content-subtitle {
    font-style: italic;
}

.modal-body b {
    font-weight: bolder;
    color: #000000;
}

.template_home .html .modal-footer {
    margin-left: 40px;
    font-size: 15px;
    letter-spacing: -1px;
    margin-right: 40px
}

#tecFideraInfoModal .modal-header p {
    line-height: 1;
    margin: 0;
}

.template_home .html #homeModal .modal-dialog{
  width: 70%;
}

@media only screen and (min-width: 2050px) {
  .template_home .html .modal-dialog ,.generic-page .html .modal-dialog{
    width: 80%;
  }

  .template_home .html #homeModal .modal-dialog{
    width: 70%;
  }

  .html .modal-header{
    font-size: 23px;
    letter-spacing: -1.5px;
    margin-bottom: 10px;
  }

  #tecFideraInfoModal .modal-body {
    height: auto;
    font-size: 23px;
  }

  .modal-references {
    font-size: 17px;
    margin-top: 10px;
  }

  #tecFideraInfoModal .modal-header p {
    font-size: 20px;
    font-style: italic;
    line-height: 0.8;
  }

  #aboutBiogenModal .modal-body {
      font-size: 18px;
      text-align: center;
  }

  .template_home .html .modal-body {
    font-size: 22px;
  }

  .template_home .html .modal-header {
    font-size: 20px;
  }

  .template_home .html .modal-footer {
      font-size: 20px;
  }

}

@media only screen and (min-width: 1884px){
  .template_home .html .modal-dialog ,.generic-page .html .modal-dialog{
    width: 80%;
  }
  .template_home .html #homeModal .modal-dialog{
    width: 70%;
  }
}

@media only screen and (max-width: 767px) and (min-width: 414px) {
  .modal {
    top: 40px;
  }
  .template_home .html .modal-footer, .html .modal-header {
      font-size: 12px;
  }

  .template_home .html .modal-body, .template_home .html .modal-footer {
    padding: 15px 20px 20px;
  }

  .template_home .html .modal-header .close {
    margin-top: -35px;
    width: 25px;
  }

  img.biogen-arrow {
      margin-left: -21px;
      margin-top: -140px;
  }
  #tecFideraInfoModal .modal-body {
      height: 100%;
  }

  #aboutBiogenModal .modal-body {
      height: 100%;
  }


}

@media only screen and (max-width: 413px){
  .modal {
    top: 70px;
  }

  .template_home .html .modal-footer, .html .modal-header {
      font-size: 12px;
  }

  .template_home .html .modal-body, .template_home .html .modal-footer {
    padding: 15px 20px 20px;
  }

  .template_home .html .modal-header .close {
    margin-top: -35px;
    width: 25px;
  }
  img.biogen-arrow {
    margin-left: -21px;
    margin-top: -140px;
  }

  #tecFideraInfoModal .modal-body {
      height: 385px;
      padding: 0px 25px 25px;
      font-size: 17px;
      text-align: left;
  }

   #aboutBiogenModal .modal-body {
      height: 100%;
  }

  .spacer{
    display: none;
  }

}

@media only screen and (max-width: 768px) and (orientation : portrait){

  .template_home .html #homeModal .modal-dialog{
    width: 90%
  }

  .modal {
    top: 70px;
  }

  .copyright.logo {
      float: left;
  }

  .copyright {
      display: inline-block;
  }

  .copyright.logo{
    width: 100%;
    height: auto;
  }

  .copyright.logo img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .copyright.text {
    font-size: 14px;
  }

   #tecFideraInfoModal .modal-body {
      height: 100%;
  }

  #aboutBiogenModal .modal-body {
      height: 100%;
  }

  .template_home .html .modal-footer {
    margin-left: 0;
    margin-right: 0;
  }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

  #tecFideraInfoModal .modal-header p {
    font-size: 14px;
    font-style: italic;
    line-height: 1.1;
    margin-bottom: 0;
  }

  .spacer{
    display: none;
  }

}

/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

  .modal {
    top: 70px;
  }
}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {

  #tecFideraInfoModal .modal-header p {
    font-size: 14px;
    font-style: italic;
    line-height: 1.1;
    margin-bottom: 0;
  }

  .spacer{
    display: none;
  }


}

/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

  .modal {
    top: 0;
  }

}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {

  #tecFideraInfoModal .modal-header p {
    font-size: 14px;
    font-style: italic;
    line-height: 1.1;
    margin-bottom: 0;
  }

  .modal {
    top: 0;
  }

  .spacer{
    display: none;
  }

}

/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {

  .modal {
    top: 0;
  }
}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 1024px)
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {

  .modal {
    top: 0;
  }

  #tecFideraInfoModal .modal-body {
    height: 100%;
  }

}
